.moviTd{
    display: flex;
    gap: 15px;
    align-items: center;
}
.moviTd .about .name{
    font-size: 22px;
    font-weight: 600;
}
.moviTd img{
    width: 100px;
}
.userAbout{
    display: flex;
    flex-direction: column;
    row-gap: 5px;
}
.userTd,.list,.action{
    vertical-align: middle;
}