@use "colors";

.btn{
    display: inline-block;
    text-align: center;
    padding: 10px 15px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-weight: 500;
    &-primary{
        background-color: colors.$primaryColor;
        color: black;
    }
    &-danger{
        background-color: red;
        color: white;
    }
    &-sm{
        font-size: 12px;
        padding: 7px 10px;
    }
    &-lg{
        font-size: 15px;
        padding: 12px 18px;
    }
}